#arena {
	background-image: url(../img/arena.jpg);
	background-repeat: no-repeat;
}

#arena #lights {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 1.0;
}

#arena .avatar {
	position: absolute;
	top: 125px;
}

#arena .avatar-left {
	left: 140px;
}

#arena .avatar-right {
	right: 140px;
}

#team {
	overflow-x: hidden;
	overflow-y: scroll;
}

#team .player-cont{
	position:relative;
}

#team .player {
	height: 64px;
	clear:both;
}

#team .player-mug {
	float:left;
}

#team .player-name {
	float:left;
	font-weight: bold;
}

#team .player-strength-label {
	float: right;
}

#team .player-alive {
	color: green;
}

#team .player-dead {
	color: red;
}

#team .player-strength-bar {
	float: left;
	clear: both;
	height: 3px;
	width: 100%;
	background-color: red;
}

#team .player-strength-current {
	height: 3px;
	background-color: green;
	width: 100%;
}